   .profile_item__card {
		// margin: 20px !important;
		// display: none;
		// minWidth: 360px
		 margin-bottom: 20px !important;
   }

   .cardTitle { 
    word-spacing: calc(40em);
   }

// Переопределение
   .ant-card-meta-title {
		white-space: normal !important;
   }