@import "~styles/variables";

.page404 {
  $self: &;

  margin: 20px;
  text-align: center;
  margin-top: 30vh;

  &__button {
    margin-top: 20px;
  }

  &__title {
    text-align: center;
  }

  &__header {
    //font-weight: 800px !important;
  }

  &__help__title {
    //font-weight: 800px !important;
    margin-top: 30px;
  }

  //  &__subTitle {

  //    display: block !important;
  //  }

  // &__infoText {
  //   margin-top:20px;
  // }

  // &__textTitle {
  //   font-size: 16px !important;
  //   font-weight: 400 !important;
  // }
}

.ant-collapse-item-active > .ant-collapse-header {
  color: #409eff !important;
}
.ant-collapse-header {
  font-weight: 800 !important;
}
